<!-- <h2>{{pageTitle}}</h2>
<img [src]="imageUrl" alt="hello" style="width: 20rem; margin: 10px;">
<img src="{{imageUrl}}" alt="hello" style="width: 20rem;  margin: 10px;">
<br>
<button (click)="hello()">Click Me!!</button>
<br><br>
<input type="text" name="name" id="name" [(ngModel)]="username">
<p class="">{{username}}</p>
<br>
<div class="name_list">
    <h3>Name List:</h3>
    <ul>
        <li *ngFor="let data of arr">{{data}}</li>
    </ul>
</div>
<hr>
<h3>User Object List:</h3>
<p *ngFor="let user of users">{{user.name}} is {{user.age}} years old.</p>

<hr>
<div *ngIf="age>=18; else elseBlock">This is greater than 18</div>
<ng-template #elseBlock>
    <div>this is lesser than 18</div>
</ng-template>
<app-home></app-home> -->
<app-navbar></app-navbar>
<router-outlet></router-outlet>












