/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

body{
    font-family: 'Fredoka',sans-serif;
    background-color: #cce7e8;
}

.contact-img{
    width: 120px;
    display: flex;
    margin: 0 auto;
}

.contact-img-details{
    width: 170px;
    display: flex;
    margin: 0 auto;
}