<div class="container my-4">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-primary"><i class="fa fa-pen">&nbsp;</i>Edit Contact</p>
            <p class="fst-italic">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit adipisci dolores numquam soluta sed, fuga dolore magni repudiandae nostrum corporis repellat a id animi. Repellendus ut maiores illum? Suscipit, praesentium ea at dolor eum error saepe, illum facere vitae deleniti veritatis atque neque sed laborum facilis magnam omnis eius exercitationem?
            </p>
        </div>
    </div>
</div>

<!--Edit Contact Form -->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form (submit)="updateContact()">
                <div class="mb-2">
                    <input [(ngModel)]="contact.name" name="name"
                     type="text" class="form-control" placeholder="Name_">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.photo" name="photo"
                    type="text" class="form-control" placeholder="Photo Url_">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.mobile" name="mobile"
                    type="tel" class="form-control" placeholder="Mobile_">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.email" name="email"
                    type="email" class="form-control" placeholder="Email_">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.company" name="company"
                    type="text" class="form-control" placeholder="Company_">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.title" name="title"
                    type="text" class="form-control" placeholder="Title_">
                </div>
                <div class="mb-2">
                    <select [(ngModel)]="contact.groupId" name="groupId"
                    class="form-control">
                        <option>select a group</option>
                        <option [value]="group.id" *ngFor="let group of groups">{{group.name}}</option>
                    </select>
                </div>
                <div class="mb-2">
                    <input type="submit" class="btn btn-primary" value="Update">
                    <a routerLink="/" class="btn btn-warning mx-3">Close</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <img [src]="contact.photo" alt="asdsad" class="contact-img"> 
        </div>
    </div>
</div> 